<!-- Includes static header -->
<div id="static-header"></div>
<body class="center">
  
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">First report!</h5>
      <p class="card-text">Report your first bug.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">3 in a row!</h5>
      <p class="card-text">report 3 bugs in a row.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">10 reports!</h5>
      <p class="card-text">Report 10 bugs.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Over 100!</h5>
      <p class="card-text">get 100 or more points.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Number 1</h5>
      <p class="card-text">Get first on the leaderboards.</p>
    </div>
  </div>
  

  <!-- Includes static header -->
  <div class="container fixed-bottom">
    <hr>
    <nav>
      <ul class="nav nav-fill nav-justified justify-content-center">
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./popup.html">
            <i style="color:#1d9f5e" class="fas fa-home fa-lg"></i>
          </a>
        </li>
        <!--  -->
        <li class="nav-item">
          <button type="button" class="btn nav-link" id="reportBugBtn1">
            <i style="color:#1d9f5e" class="fas fa-bug fa-lg"></i>
          </button>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./Leaderboard.html" id="LeaderboardBtn">
            <i style="color:#1d9f5e" class="fas fa-list-ol fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./Achievement.html" id="AchievementBtn">
            <i style="color:#1d9f5e" class="fas fa-trophy fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./options.html">
            <i style="color:#1d9f5e" class="fas fa-cog fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <button type="button" class="btn nav-link" id="logOutBtn1">
            <i style="color:#1d9f5e" class="fas fa-sign-out-alt fa-lg"></i>
          </button>
        </li> 
      </ul>
    </nav>
  </div>

  <script type="module" src="../js/statichtml.js"></script>
  <script type="module" src="../js/Achievement.js"></script>
  <script type="module" src="../js/navEvents.js"></script>
</body>
</html>

