<!-- Includes static header -->
<div id="static-header"></div>
<body class="center">
  
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">First report!</h5>
      <p class="card-text">Report your first bug.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">3 in a row!</h5>
      <p class="card-text">report 3 bugs in a row.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">10 reports!</h5>
      <p class="card-text">Report 10 bugs.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Over 100!</h5>
      <p class="card-text">get 100 or more points.</p>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">Number 1</h5>
      <p class="card-text">Get first on the leaderboards.</p>
    </div>
  </div>
  
    

  <!-- Includes static header -->
  <div id="static-footer"></div>

  <script type="module" src="../js/statichtml.js"></script>
  <script type="module" src="../js/Achievement.js"></script>
</body>
</html>

