<link rel="stylesheet" href="../css/leaderboard.css" />
<!-- Includes static header -->
<div id="static-header"></div>
<body class="center">

  <div class="container mb-2">
    <table class="table table-striped" id="LeaderboardTable">
      <thead>
        <tr>
          <th scope="col4">#</th>
          <th scope="col4">Name</th>
          <th scope="col4">Points</th>
        </tr>
      </thead>
      <tbody>  
      </tbody>
    </table>
  </div>
  <br />
  <!-- Includes static header -->
  <div class="container fixed-bottom">
    <hr>
    <nav>
      <ul class="nav nav-fill nav-justified justify-content-center">
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./popup.html">
            <i style="color:#1d9f5e" class="fas fa-home fa-lg"></i>
          </a>
        </li>
        <!--  -->
        <li class="nav-item">
          <button type="button" class="btn nav-link" id="reportBugBtn1">
            <i style="color:#1d9f5e" class="fas fa-bug fa-lg"></i>
          </button>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./Leaderboard.html" id="LeaderboardBtn">
            <i style="color:#1d9f5e" class="fas fa-list-ol fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./Achievement.html" id="AchievementBtn">
            <i style="color:#1d9f5e" class="fas fa-trophy fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="btn nav-link" href="./options.html">
            <i style="color:#1d9f5e" class="fas fa-cog fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <button type="button" class="btn nav-link" id="logOutBtn1">
            <i style="color:#1d9f5e" class="fas fa-sign-out-alt fa-lg"></i>
          </button>
        </li> 
      </ul>
    </nav>
  </div>
  <script type="module" src="../js/leaderboard.js"></script>
  <script type="module" src="../js/statichtml.js"></script>
</body>
</html>