<!-- Includes static header -->
<div id="static-header"></div>
    
    <table class="table table-striped" id="LeaderboardTable">
        <thead>
          <tr>
            <th scope="col4">#</th>
            <th scope="col4">Name</th>
            <th scope="col4">Points</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>

    <script type="module" src="../js/leaderboard.js"></script>

    <div class="buttonBack">
    <a class="btn btn-primary btn-sm" href="./popup.html">
        Back
    </a>
    </div>
    <script type="module" src="../js/statichtml.js"></script>
</body>
</html>