<link rel="stylesheet" href="../css/leaderboard.css" />
<!-- Includes static header -->
<div id="static-header"></div>
<body class="center">

  <div class="container mb-2">
    <table class="table table-striped" id="LeaderboardTable">
      <thead>
        <tr>
          <th scope="col4">#</th>
          <th scope="col4">Name</th>
          <th scope="col4">Points</th>
        </tr>
      </thead>
      <tbody>  
      </tbody>
    </table>
  </div>
  <br />
  <!-- Includes static header -->
  <div id="static-footer"></div>
  <script type="module" src="../js/leaderboard.js"></script>
  <script type="module" src="../js/statichtml.js"></script>
</body>
</html>