<!-- Includes static header -->
<div id="static-header"></div>

    <div class="container">

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="badgeSwitch">
        <label class="form-check-label" for="badgeSwitch">Extension badge</label>
      </div>

      <a class="btn btn-primary btn-sm" href="./popup.html">
        Back
      </a>
    
    </div>

    <script type="module" src="../js/statichtml.js"></script>
    <script src="../js/options.js"></script>
  </body>
</html>