<!-- Includes static header -->
<div id="static-header"></div>
<body class="center">
  <div class="container mb-5">
    <div class="form-check form-switch mb-2">
      <input class="form-check-input" type="checkbox" id="badgeSwitch">
      <label class="form-check-label" for="badgeSwitch">Extension badge</label>
    </div>
  </div>
  <!-- Includes static header -->
  <div id="static-footer"></div>
  <script type="module" src="../js/statichtml.js"></script>
  <script src="../js/options.js"></script>
</body>
    
    
  </body>
</html>