<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket overview | BAS World Bug Reporter</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../images/icon32.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
            BAS World Bug Reporter
          </a>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <h1>Ticket overview</h1>
        </div>

        <div class="row">
            <table class="table table-striped table-hover" id="overviewTable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Status</th>
                        <th scope="col">Developer</th>
                        <th scope="col">Date created</th>
                    </tr>
                </thead>

                <tbody>


                </tbody>

            </table>
        </div>
    </div>
    
    <script type="module" src="../js/overview.js"></script>
</body>
</html>