<!-- Includes static header -->
<div id="static-header"></div>

    <div class="container">
      <div id="login">
        <form id="login-form" action="" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary" id="logInBtn">
            Log in
          </button>
          <a class="btn btn-primary" type="button" id="registerBtn">
            Register
          </a>
        </form>
      </div> 
    </div>
    <!--  -->
    <div class="container mb-5">
      <table class="table table-striped" id="overviewTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
    <!-- Includes static header -->
    <div id="static-footer"></div>
    
    <script type="module" src="../js/statichtml.js"></script>
    <script type="module" src="../js/overview.js"></script>
    <script type="module" src="../js/popup.js"></script>
  </body>
</html>
