<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/popup.css">
    <title>Popup | BAS World Bug Reporter</title>
  </head>
  <body>
    
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../images/icon32.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
          BAS World Bug Reporter
        </a>
      </div>
    </nav>
    
    <div class="container">

      
      <div id="login">
        <form id="login-form" action="" method="GET">
        
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="mb-3">
            <label for="password class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary" id="logInBtn">
            Log in
          </button>
          <a class="btn btn-primary" type="button" id="registerBtn">
            Register
          </a>
        </form>
      </div>
      

      <div id="menu">
        <h2>Welcome!</h2>

        <div class="d-grid gap-2 col-9 mx-auto">
          <button class="btn btn-primary" type="button" id="reportBugBtn">
            Report bug
          </button>

          <a class="btn btn-primary" type="button" id="overviewBtn" href="./overview.html">
            Ticket overview
          </a>
          <a class="btn btn-primary" type="button" id="LeaderboardBtn" href="./Leaderboard.html">
            Leaderboard
          </a>
          <a class="btn btn-primary" type="button" id="AchievementBtn" href="./Achievement.html">
            Achievements
          </a>

          <a class="btn btn-primary" href="./options.html">
            Settings
          </a>
        </div>

        <p>Logged in as: </p>
        <p id="loggedInUser"></p>
        <button class="btn btn-secondary btn-sm" type="button" id="logOutBtn">
          Log out
        </button>
      </div>
    </div>
    
    <script type="module" src="../js/popup.js"></script>
  </body>
</html>