<!-- Includes static header -->
<div id="static-header"></div>

    <div class="container">

      <h1>Report bug</h1>

      <form id="report-form" action="" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="bugType" class="form-label">Type of bug:</label>
          <select class="form-select" name="type" required>
            <option value="1">Media</option>
            <option value="2">Lay-out</option>
            <option value="3">Translation</option>
            <option value="4">Markup</option>
            <option value="5">Other</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Title:</label>
          <input type="text" pattern="\S+" title="This field is required!" class="form-control" name="name" required>
        </div>
        <!-- <div class="mb-3">
          <label for="screenshot" class="form-label">Upload screenshot (optional):</label>
          <input type="file" class="form-control" name="photo" accept="image/jpeg, image/png, image/bmp, image/gif" disabled>
        </div> -->
        <div class="mb-3">
            <img id="screenshot" alt="Screenshot of the reported page" title="screenshot" class="screenshot">
        </div>

        <div class="mb-3">
          <label for="remark" class="form-label">Description:</label>
          <textarea name="remark" pattern="\S+" title="This field is required!" id="text1" class="form-control" rows="5" required></textarea>
        </div>

        <!-- Hidden fields -->
        <input type="hidden" name="URL" id="url-input" value="">
        <input type="hidden" name="madeBy" id="userId-input" value="">
        <input type="hidden" name="api_token" id="api_token_input" value="">
        <input type="hidden" name="status" value="1">
        <input type="hidden" name="photo" id="screenshotinput">
        

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>
    <script type="module" src="../js/statichtml.js"></script>
    <script type="module" src="../js/reportbug.js"></script>
  </body>
  <script>
    //JS part
const vm = new Vue({
    el:'#app',
    data:{
        text1:'',
        text2:''
    },
    methods:{
        submitText(){
            this.text2 = this.text1;
        }
    }
})
  </script>
</html>
