<div class="container fixed-bottom" id="menu">
    <p id="loggedInUser"></p>
    <hr>
    <nav>
      <ul class="nav nav-fill nav-justified justify-content-center">
        <!---->
        <li class="nav-item">
          <a type="button" class="nav-link" href="./popup.html">
            <i style="color:#1d9f5e" class="fas fa-home fa-lg"></i>
          </a>
        </li>
        <!--  -->
        <li class="nav-item">
          <button type="button" class="btn" id="reportBugBtn">
            <i style="color:#1d9f5e" class="fas fa-bug fa-lg"></i>
          </button>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="nav-link" href="./Leaderboard.html" id="LeaderboardBtn">
            <i style="color:#1d9f5e" class="fas fa-list-ol fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="nav-link" href="./Achievement.html" id="AchievementBtn">
            <i style="color:#1d9f5e" class="fas fa-trophy fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item">
          <a type="button" class="nav-link" href="./options.html">
            <i style="color:#1d9f5e" class="fas fa-cog fa-lg"></i>
          </a>
        </li>
        <!---->
        <li class="nav-item" >
          <button type="button" class="btn nav-link" id="logOutBtn">
            <i style="color:#1d9f5e" class="fas fa-sign-out-alt fa-lg"></i>
          </button>
        </li> 
      </ul>
    </nav>
  </div>
  <script type="module" src="../js/popup.js"></script>